@layer utilities {
  @keyframes border-animation {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  .border-animated {
    position: relative;
    z-index: 0;
  }

  .border-animated::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 3px; /* товщина бордера */
    background: linear-gradient(90deg, #0067BB, #9333ea, #0067BB); /* градієнт кольорів */
    background-size: 200% 100%;
    animation: border-animation 4s linear infinite; /* швидкість */
    border-radius: 1rem;
    z-index: -1;

    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  color: inherit !important;
}